html {
  font-size: 14px;
  margin: 0;
  height: 150px;
  width: 350px;
}
body {
  font-family: "Source Sans Pro", sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
}
h1 {
  margin: 0;
}
.custom-btn {
  font-family: inherit;
  font-size: 18px;
  background: transparent;
  cursor: pointer;
  line-height: inherit;
  padding: 0.5rem 1rem;
  color: #2d3748;
  transition: background-color 400ms ease-out;
  border-width: 1px;
  border-color: #cbd5e0;
  border-radius: 2.5px;
  border-width: 1px;
}
.custom-btn:hover {
  background-color: #eceef8;
}
.delete-icon {
  color: #e53935;
  border-radius: 50%;
}
.delete-icon:hover {
  background-color: #eaeaeb;
}
.link {
  margin: 10px 0;
}
.link:hover {
  text-decoration: underline;
}
.main-container {
  width: auto;
}
.main-header {
  font-size: 10px;
  padding: 5px;
  margin: 0 0 10px 0;
  text-align: center;
}
.name-form {
  display: flex;
  justify-content: center;
  padding: 0 10px;
}
.no-data-msg {
  background-color: #f3f3f3;
  font-size: 18px;
  border-left: solid 5px #a8a8a8;
  padding: 10px 20px;
}
.restore-btn:hover {
  text-decoration: underline;
}
.save-btn {
  margin: 1rem 0 1rem 0.5rem;
}
.save-tabs-btn {
  margin: 19px 0;
}
.spacer {
  flex-grow: 1 !important;
}
/* Scroller classes */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #eeeeee;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background: #bdbdbd;
  border-radius: 5px;
  transition: background 250ms ease-out;
}
::-webkit-scrollbar-thumb:hover {
  background: #bdbdbd;
}

/* .elementToFadeInAndOut {
  width:200px;
  height: 200px;
  background: red;
  -webkit-animation: fadeinout 4s linear forwards;
  animation: fadeinout 4s linear forwards;
} */

/* keyframes for a n eventual success message when creating sessions */
@-webkit-keyframes fadeinout {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@keyframes fadeinout {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
